---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import { SITE } from "@/config";

const posts = (await getCollection("blog", ({ data }) => !data.draft))
  .sort((a, b) => b.data.pubDatetime.valueOf() - a.data.pubDatetime.valueOf());
---

<Layout>
  <main id="main-content" class="mx-auto max-w-app px-4 py-16">
    <h1 class="mb-2 text-center text-4xl font-bold">🧠 {SITE.title}</h1>
    <p class="mb-8 text-center">{SITE.desc}</p>
    {posts.length > 0 && (
      <ul>
        {posts.map(post => <Card variant="h3" {...post} />)}
      </ul>
    )}
  </main>
</Layout>
