---
export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li class:list={["inline-block", size === "sm" ? "m-1" : "m-2"]}>
  <a
    href={`/tags/${tag}/`}
    class:list={[
      "rounded-full bg-muted px-2 py-1 hover:bg-accent hover:text-background",
      { "text-sm": size === "sm" },
      { "text-base": size === "lg" },
    ]}
  >
    {tagName}
  </a>
</li>
